# 제로베이스 데이터 취업 스쿨 SQL 과제 1
- 스타벅스 이디야 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 5점
- 5번 15점
- 6번 15점
- 7번 40점
- 8번 5점

In [2]:
import mysql.connector
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
from bs4 import BeautifulSoup
import googlemaps
from selenium.webdriver import Chrome
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.chrome.options import Options as ChromeOptions
import time
import selenium.webdriver
from selenium.common.exceptions import NoSuchElementException

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

AWS RDS (MySQL) 에 프로젝트 관련 Database 를 생성하고, 접근 가능한 사용자 계정을 생성하세요.

- Database Name : oneday
- User Name / Password : oneday / 1234

In [58]:
# AWS RDS 연결
remote = mysql.connector.connect(
    host = "database-1.cf4w6awsuedd.ap-southeast-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = 'rgh990511',
    charset='utf8'
)

In [14]:
# Database 생성

cur = remote.cursor()
result1 = cur.execute('CREATE DATABASE oneday')

#### SHOW DATABASE

In [59]:
# Database 생성문 조회 결과 

cur.execute("SHOW DATABASES")
databases = cur.fetchall()

for database in databases:
    print(database[0])

information_schema
mysql
oneday
performance_schema
sys
zerobase
zerodb

#### SHOW GRANTS FOR `oneday`@`%`

In [34]:
# 사용자 권한 확인
cur.execute("SHOW GRANTS FOR `oneday`@`%`")
user_privileges = cur.fetchall()

for privilege in user_privileges:
    print(privilege[0])

GRANT SELECT ON *.* TO `oneday`@`%`

제출 1.
- Database 생성문 조회 결과 : SHOW CREATE DATABASE oneday;
- 사용자 권한 확인 결과 : SHOW GRANT FOR ‘oneday’@‘%’

In [72]:
remote.close()

문제 2.

스타벅스 이디야 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [154]:
remote = mysql.connector.connect(
    host = "database-1.cf4w6awsuedd.ap-southeast-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = 'rgh990511',
    charset='utf8'
)

cur = remote.cursor()

In [155]:
cur.execute("USE oneday")
remote.commit()

In [148]:
# COFFEE_BRAND 테이블 만들기
sql = open('coffee_brand.sql').read()
cur.execute(sql)

In [149]:
# COFFEE_STORE 테이블 만들기
sql = open('coffee_store.sql').read()
cur.execute(sql)

In [156]:
# COFFEE_BRAND 데이터 입력
insert_query = "INSERT INTO COFFEE_BRAND (id, name) VALUES (%s, %s)"
records_to_insert = [(1, 'STARBUCKS'), (2, 'EDIYA')]
cur.executemany(insert_query, records_to_insert)

# 변경사항 커밋
remote.commit()

문제 3.

Python 코드로 COFFEE_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

제출 2.
- Table 생성 결과 : Desc COFFEE_BRAND; Desc COFFEE_STORE;

제출 3.
- COFFEE_BRAND 조회 결과 : SELECT * FROM COFFEE_BRAND;

#### Table 생성결과
- COFFEE_BRAND

In [150]:
# COFFEE_BRAND 확인하기
cur.execute('desc COFFEE_BRAND')
table = cur.fetchall()

for column in table:
    print(column)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(15)', 'YES', '', None, '')

- COFFEE_STORE

In [151]:
# COFFEE_STORE 확인하기
cur.execute('desc COFFEE_STORE')
table = cur.fetchall()

for column in table:
    print(column)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('brand', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(32)', 'YES', '', None, '')
('gu_name', 'varchar(5)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('lat', 'decimal(16,14)', 'YES', '', None, '')
('lng', 'decimal(17,14)', 'YES', '', None, '')

#### COFFEE_BRAND 조회결과

In [157]:
# COFFEE_BRAND 조회결과
cur.execute('select * from COFFEE_BRAND')
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'STARBUCKS')
(2, 'EDIYA')

In [139]:
remote.close()

문제 4.

스타벅스 페이지에 접근하는 코드에서 팝업창이 없는 경우, 팝업창을 닫는 코드에서 에러가 발생합니다. 예외처리 해서 에러
메시지를 출력하고 실행이 중단되지 않도록 수정해주세요.

In [5]:
remote = mysql.connector.connect(
    host = "database-1.cf4w6awsuedd.ap-southeast-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = 'rgh990511',
    charset='utf8'
)

cur = remote.cursor()
cur.execute("USE oneday")
remote.commit()

- 팝업 예외처리 코드 & 실행 결과 (ipynb)

In [221]:
option = webdriver.ChromeOptions()
driver = webdriver.Chrome(options = option)
# 스타벅스 매장검색 사이트 주소
driver.get('https://www.starbucks.co.kr/store/store_map.do?disp=locale')

try:
    # 팝업창 닫기
    popup_close_button = driver.find_element(By.CSS_SELECTOR, ".holiday_notice_close a")
    popup_close_button.click()
except NoSuchElementException as e:
    print("팝업창이 없습니다")

팝업창이 없습니다

문제 5.

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [7]:
option = webdriver.ChromeOptions()
driver = webdriver.Chrome(options = option)
# 스타벅스 매장검색 사이트 주소
driver.get('https://www.starbucks.co.kr/store/store_map.do?disp=locale')

In [8]:
# 서울 클릭
first_content = driver.find_element(
    By.CSS_SELECTOR,
    '#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a')
first_content.click()

In [9]:
# 전체 클릭
second_content = driver.find_element(
    By.CSS_SELECTOR,
    '#mCSB_2_container > ul > li:nth-child(1) > a')
second_content.click()

In [10]:
# 현재 페이지 저장하기
html = driver.page_source

In [11]:
# 저장된 페이지 불러오기
soup = BeautifulSoup(html, "html.parser")

In [12]:
seoul_list = soup.select('#mCSB_3_container ul li')
html = driver.page_source

- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

In [13]:
# INSERT INTO 쿼리
sql = "INSERT INTO COFFEE_STORE (brand, name, gu_name, address, lat, lng) VALUES (1, %s, %s, %s, %s, %s)"

for content in tqdm_notebook(seoul_list):
    title = content['data-name']
    address = content.select_one('p').text[:-9]
    lat = content['data-lat']
    lng = content['data-long']
    gu_name = address.split()[1]
    
    cur.execute(sql, (title, gu_name, address, lat, lng))
    remote.commit()
    
driver.close()

cur.execute("select count(*) from COFFEE_STORE")
result = cur.fetchall()
result

C:\Users\rou59\AppData\Local\Temp\ipykernel_16244\4112582321.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for content in tqdm_notebook(seoul_list):

  0%|          | 0/610 [00:00<?, ?it/s]

[(610,)]

In [165]:

cur.execute("select * from COFFEE_STORE limit 10;")
result = cur.fetchall()

for row in result:
    print(row)

(1, 1, '역삼아레나빌딩', '강남구', '서울특별시 강남구 언주로 425 (역삼동)', Decimal('37.50108700000000'), Decimal('127.04306900000000'))
(2, 1, '논현역사거리', '강남구', '서울특별시 강남구 강남대로 538 (논현동)', Decimal('37.51017800000000'), Decimal('127.02222300000000'))
(3, 1, '신사역성일빌딩', '강남구', '서울특별시 강남구 강남대로 584 (논현동)', Decimal('37.51393090000000'), Decimal('127.02060570000000'))
(4, 1, '국기원사거리', '강남구', '서울특별시 강남구 테헤란로 125 (역삼동)', Decimal('37.49951700000000'), Decimal('127.03149500000000'))
(5, 1, '대치재경빌딩', '강남구', '서울특별시 강남구 남부순환로 2947 (대치동)', Decimal('37.49466800000000'), Decimal('127.06258300000000'))
(6, 1, '봉은사역', '강남구', '서울특별시 강남구 봉은사로 619 (삼성동)', Decimal('37.51500000000000'), Decimal('127.06319600000000'))
(7, 1, '압구정윤성빌딩', '강남구', '서울특별시 강남구 논현로 834 (신사동)', Decimal('37.52279340000000'), Decimal('127.02860090000000'))
(8, 1, '코엑스별마당', '강남구', '서울특별시 강남구 영동대로 513 (삼성동)', Decimal('37.51015000000000'), Decimal('127.06027500000000'))
(9, 1, '삼성역섬유센터R', '강남구', '서울특별시 강남구 테헤란로 518 (대치동)', Decimal('37.50775000000000'), Decimal('127.06065100000000'))
(10, 1, '압구정R', '강남구', '서울특별시 강남구 언주로 861 (신사동)', Decimal('37.52736690000000'), Decimal('127.03306100000000'))

In [195]:
remote.close()

문제 5.

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

제출 4.
- 팝업 예외처리 코드 & 실행 결과 (ipynb)

제출 5.
- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

문제 6.

Python 코드로 이디야 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
- 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
- (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [182]:
remote = mysql.connector.connect(
    host = "database-1.cf4w6awsuedd.ap-southeast-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = 'rgh990511',
    charset='utf8'
)

cur = remote.cursor()
cur.execute("USE oneday")
remote.commit()

In [183]:
option = webdriver.ChromeOptions()
driver = webdriver.Chrome(options = option)
# 이디야 매장검색 사이트 주소
driver.get("https://www.ediya.com/contents/find_store.html#c")

In [184]:
search_button = driver.find_element("xpath", '//*[@id="contentWrap"]/div[3]/div/div[1]/ul/li[2]/a')
search_button.click()

# 검색어(구) 생성
gu_list = []

cur.execute("select distinct(gu_name) from COFFEE_STORE")
result = cur.fetchall()
for row in result:
	gu_list.append(str('서울 ') + row[0])
    
len(gu_list), gu_list[:3]

(25, ['서울 강남구', '서울 강북구', '서울 강서구'])

In [185]:
gmaps_key = 'AIzaSyAfBMdgKh-v4dVPfb9N0j05DX7rJ3m1vfg'
gmaps = googlemaps.Client(key=gmaps_key)

search_keyword = driver.find_element("xpath", '//*[@id="keyword"]')
search_button = driver.find_element("xpath", '//*[@id="keyword_div"]/form/button')

sql = "INSERT INTO COFFEE_STORE (brand, name, gu_name, address, lat, lng)\
       VALUES (2, %s, %s, %s, %s, %s)"

for gu in tqdm_notebook(gu_list):
    search_keyword.clear()
    search_keyword.send_keys(gu)
    search_button.click()
    time.sleep(1)
    
    html = driver.page_source
    dom = BeautifulSoup(html, 'html.parser')
    contents = dom.select('#placesList li')

    for content in contents:
        title = content.select_one('dt').text
        address = content.select_one('dd').text
        gu_name = address.split(' ')[1]
        
        tmp = gmaps.geocode(address, language='ko')
        if tmp:  # tmp가 비어있지 않은 경우에만 처리
            lat = tmp[0].get("geometry", {}).get("location", {}).get("lat")
            lng = tmp[0].get("geometry", {}).get("location", {}).get("lng")
        else:
            lat = None
            lng = None
    
        cur.execute(sql, (title, gu_name, address, lat, lng))
        remote.commit()

driver.close()

C:\Users\rou59\AppData\Local\Temp\ipykernel_7796\1922901926.py:10: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for gu in tqdm_notebook(gu_list):

  0%|          | 0/25 [00:00<?, ?it/s]

제출 6.
- 이디야 데이터 관련 코드 & 실행 결과 (ipynb)

In [186]:
cur.execute("select count(*) from COFFEE_STORE")
result = cur.fetchall()
result

[(1345,)]

In [187]:
cur.execute("select * from COFFEE_STORE where brand = 2 limit 10;")
result = cur.fetchall()
for row in result:
    print(row)

(611, 2, '강남YMCA점', '강남구', '서울 강남구 논현동', Decimal('37.51367870000000'), Decimal('127.03171240000000'))
(612, 2, '강남구청역아이티웨딩점', '강남구', '서울 강남구 학동로 338 (논현동, 강남파라곤)', Decimal('37.51655130000000'), Decimal('127.04013910000000'))
(613, 2, '강남논현학동점', '강남구', '서울 강남구 논현로131길 28 (논현동)', Decimal('37.51518990000000'), Decimal('127.02755390000000'))
(614, 2, '강남대치점', '강남구', '서울 강남구 역삼로 415 (대치동, 성진빌딩)', Decimal('37.50143400000000'), Decimal('127.05232800000000'))
(615, 2, '강남도산점', '강남구', '서울 강남구 도산대로37길 20 (신사동)', Decimal('37.52228210000000'), Decimal('127.03147990000000'))
(616, 2, '강남세곡점', '강남구', '서울 강남구 헌릉로569길 9 (세곡동, 강남지웰파인즈)', Decimal('37.46697310000000'), Decimal('127.10052620000000'))
(617, 2, '강남율현점', '강남구', '서울 강남구 밤고개로21길 8 (율현동, 세곡프라자)', Decimal('37.47358220000000'), Decimal('127.10783110000000'))
(618, 2, '강남자곡점', '강남구', '서울 강남구 자곡로 180 (자곡동, 강남유탑유블레스)', Decimal('37.47348460000000'), Decimal('127.10309790000000'))
(619, 2, '개포동역점', '강남구', '서울 강남구 개포로82길 11 (개포동, 삼우빌딩)', Decimal('37.48853310000000'), Decimal('127.06744740000000'))
(620, 2, '건설회관점', '강남구', '서울 강남구 언주로 711 (논현동)', Decimal('37.51630030000000'), Decimal('127.02991230000000'))

문제 7.

Python 코드에서 다음의 데이터를 쿼리를 사용하여 조회하세요.

- 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)

제출 7.
- 관련 코드 & 실행 결과 (ipynb)

In [201]:
# 스타벅스 매장 주요 분포지역
sql = """
    SELECT s.gu_name, COUNT(s.brand) AS brand_count
    FROM COFFEE_BRAND b
    INNER JOIN COFFEE_STORE s ON b.id = s.brand
    WHERE b.name = 'STARBUCKS'
    GROUP BY s.gu_name
    ORDER BY brand_count DESC
    LIMIT 5
"""
cur.execute(sql)
results = cur.fetchall()

for row in results:
    print(row)

('강남구', 90)
('중구', 53)
('서초구', 48)
('영등포구', 42)
('종로구', 40)

In [202]:
# 스타벅스 매장 주요 분포지역
sql = """
    SELECT s.gu_name, COUNT(s.brand) AS brand_count
    FROM COFFEE_BRAND b
    INNER JOIN COFFEE_STORE s ON b.id = s.brand
    WHERE b.name = 'EDIYA'
    GROUP BY s.gu_name
    ORDER BY brand_count DESC
    LIMIT 5
"""
cur.execute(sql)
results = cur.fetchall()

for row in results:
    print(row)

('강서구', 46)
('강남구', 45)
('영등포구', 41)
('송파구', 38)
('마포구', 38)

In [205]:
# 구별 브랜드 각각의 매장 개수 조회 (구이름, 매장, 개수)
sql = """
    select s.gu_name, b.name, count(s.brand) 
    from COFFEE_BRAND  b, COFFEE_STORE s
    where b.id = s.brand
    group by s.gu_name, s.brand
    order by s.gu_name, b.name;
"""
cur.execute(sql)
results = cur.fetchall()

for row in results:
    print(row)

('강남구', 'EDIYA', 45)
('강남구', 'STARBUCKS', 90)
('강동구', 'EDIYA', 27)
('강동구', 'STARBUCKS', 17)
('강북구', 'EDIYA', 19)
('강북구', 'STARBUCKS', 6)
('강서구', 'EDIYA', 46)
('강서구', 'STARBUCKS', 27)
('관악구', 'EDIYA', 29)
('관악구', 'STARBUCKS', 12)
('광진구', 'EDIYA', 22)
('광진구', 'STARBUCKS', 18)
('구로구', 'EDIYA', 29)
('구로구', 'STARBUCKS', 14)
('금천구', 'EDIYA', 23)
('금천구', 'STARBUCKS', 13)
('노원구', 'EDIYA', 31)
('노원구', 'STARBUCKS', 14)
('도봉구', 'EDIYA', 24)
('도봉구', 'STARBUCKS', 7)
('동대문구', 'EDIYA', 23)
('동대문구', 'STARBUCKS', 12)
('동작구', 'EDIYA', 24)
('동작구', 'STARBUCKS', 11)
('마포구', 'EDIYA', 38)
('마포구', 'STARBUCKS', 36)
('서대문구', 'EDIYA', 22)
('서대문구', 'STARBUCKS', 22)
('서초구', 'EDIYA', 31)
('서초구', 'STARBUCKS', 48)
('성동구', 'EDIYA', 21)
('성동구', 'STARBUCKS', 14)
('성북구', 'EDIYA', 32)
('성북구', 'STARBUCKS', 15)
('송파구', 'EDIYA', 38)
('송파구', 'STARBUCKS', 36)
('양천구', 'EDIYA', 28)
('양천구', 'STARBUCKS', 17)
('영등포구', 'EDIYA', 41)
('영등포구', 'STARBUCKS', 42)
('용산구', 'EDIYA', 14)
('용산구', 'STARBUCKS', 24)
('은평구', 'EDIYA', 29)
('은평구', 'STARBUCKS', 14)
('종로구', 'EDIYA', 34)
('종로구', 'STARBUCKS', 40)
('중구', 'EDIYA', 35)
('중구', 'STARBUCKS', 53)
('중랑구', 'EDIYA', 30)
('중랑구', 'STARBUCKS', 8)

In [206]:
# 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수)
sql = """
    select s.gu_name, s.count STARBUCKS, e.count EDIYA 
    from (select gu_name, count(brand) count from COFFEE_STORE WHERE brand = 1 GROUP BY gu_name) s, 
        (select gu_name, count(brand) count from COFFEE_STORE WHERE brand = 2 GROUP BY gu_name) e 
    where s.gu_name = e.gu_name;
"""
cur.execute(sql)
results = cur.fetchall()

for row in results:
    print(row)

('강남구', 90, 45)
('강북구', 6, 19)
('강서구', 27, 46)
('관악구', 12, 29)
('광진구', 18, 22)
('금천구', 13, 23)
('노원구', 14, 31)
('도봉구', 7, 24)
('동작구', 11, 24)
('마포구', 36, 38)
('서대문구', 22, 22)
('서초구', 48, 31)
('성북구', 15, 32)
('송파구', 36, 38)
('양천구', 17, 28)
('영등포구', 42, 41)
('은평구', 14, 29)
('종로구', 40, 34)
('중구', 53, 35)
('강동구', 17, 27)
('구로구', 14, 29)
('동대문구', 12, 23)
('성동구', 14, 21)
('용산구', 24, 14)
('중랑구', 8, 30)

문제 8.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작업)

- 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
- 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
- 데이터 프레임 출력을 해주세요. 데이터 프레임 미출력시 감점입니다.

In [208]:
sql = """
  select * 
  from (select id, 'STARBUCKS', name, gu_name, address, lat, lng
  from COFFEE_STORE WHERE brand = 1) s, 
  (select id, 'EDIYA',name, gu_name, address, lat, lng 
  from COFFEE_STORE WHERE brand = 2 GROUP BY gu_name) e
  order by s.id, e.id;
"""
cur.execute(sql)
result = cur.fetchall()

In [213]:
df = pd.DataFrame(result)
df.columns = ["s_id","s_brand","s_name","s_gu", "s_address","s_lat","s_lng","e_id","e_brand","e_name","e_gu", "e_address","e_lat","e_lng"]
df.head(5)

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
0,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,611,EDIYA,강남YMCA점,강남구,서울 강남구 논현동,37.51367870000000,127.03171240000000
1,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,656,EDIYA,4.19사거리점,강북구,서울 강북구 삼양로 501 (수유동),37.64788930000000,127.01422920000000
2,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,675,EDIYA,가양역점,강서구,서울 강서구 양천로 500 (등촌동),37.55752230000000,126.85596110000000
3,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,721,EDIYA,관악우성점,관악구,서울 관악구 관악로 232 (봉천동),37.48494770000000,126.95602740000000
4,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,750,EDIYA,건대로데오점,광진구,서울 광진구 아차산로30길 8 (자양동),37.54041640000000,127.06760760000000

In [214]:
# csv 파일로 저장하기
df.to_csv('coffee_sql.csv', index = False, encoding ='utf-8')

In [217]:
# csv 파일 불러오기
coffee_data = pd.read_csv('coffee_sql.csv', encoding ='utf-8')
coffee_data.head()

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
0,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,611,EDIYA,강남YMCA점,강남구,서울 강남구 논현동,37.513679,127.031712
1,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,656,EDIYA,4.19사거리점,강북구,서울 강북구 삼양로 501 (수유동),37.647889,127.014229
2,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,675,EDIYA,가양역점,강서구,서울 강서구 양천로 500 (등촌동),37.557522,126.855961
3,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,721,EDIYA,관악우성점,관악구,서울 관악구 관악로 232 (봉천동),37.484948,126.956027
4,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,750,EDIYA,건대로데오점,광진구,서울 광진구 아차산로30길 8 (자양동),37.540416,127.067608

제출 8.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

---